<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body text="#000000" bgcolor="#FFFFFF" id="ibm-com" link="#0000FF" alink="#FF0000" vlink="#800080"></body>>
<form method="post"
  action="/services/ap/cvwizard/cv-wizard.nsf/webfmPopupdsp?OpenForm&amp;Seq=1&amp;action=CVpreview&amp;lang=EN-GB"
  name="_webfmPopupdsp">
  <input type="hidden" name="__Click" value="0"></form>
<div id="ibm-top" class="ibm-popup">
  <!-- MASTHEAD_BEGIN -->
  <div id="ibm-masthead">
    <div id="ibm-mast-options">
      <ul>
        <li id="ibm-home"><a href="http://w3.ibm.com/">w3</a></li>
      </ul>
    </div>
    <div id="ibm-universal-nav">
      <p id="ibm-site-title"><em>cv preview</em></p>
      <ul id="ibm-menu-links">
        <li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
      </ul>
      <div id="ibm-search-module">
        <form method="get" action="http://www.ibm.com/do/Search/" id="ibm-search-form">
          <p>
            <label for="q"><span class="ibm-access">Search</span></label>
            <input id="q" value="" maxlength="100" name="qt" type="text" />
            <input name="v" type="hidden" value="17" />
            <input type="hidden" name="en" value="utf" />
            <input name="lang" type="hidden" value="en" />
            <input name="cc" type="hidden" value="us" />
            <input value="Submit" class="ibm-btn-search" id="ibm-search" type="submit" />
          </p>
        </form>
      </div>
    </div>
  </div>
  <!-- MASTHEAD_END -->
  <!-- LEADSPACE_BEGIN -->
  <div id="ibm-leadspace-head" class="ibm-alternate">
    <div id="ibm-leadspace-body">
      <h1>CV Wizard</h1>
    </div>
  </div>
  <!-- LEADSPACE_END -->
  <div id="ibm-pcon">
    <!-- CONTENT_BEGIN -->
    <div id="ibm-content">
      <!-- CONTENT_BODY -->
      <div id="ibm-content-body">
        <div id="ibm-content-main">
          <p class="ibm-intro ibm-alternate-three">
            <h2>CV Wizard preview</h2>
          </p>
          <p>
            <!-- supply text for users who have javascript disabled ......................... -->
            <noscript>
              <h2 class="green-dark">To be able to use all this page's features, you must enable JavaScript in your
                browser settings.</h2><br />
            </noscript>
            <!-- supply text for users who have javascript disabled ......................... -->
            <br />
            <!--  start content table ..................................................................................................................................................................... -->
            <table border="5" cellpadding="2" cellspacing="2" frame="below" class="ibm-data-table">
              <thead>
                <th scope="col" style="display:none"></th>
              </thead>
              <tr>
                <td class="blue-med-dark" valign="top"><b>Ting&nbsp;&nbsp;Lu</b></td>
                <td>
                  <img src="./facebook.jpg">
                </td>
                <td class="blue-med-dark" valign="top" align="right"><b></b></td>
              </tr>
            </table>
            <table border="5" cellpadding="2" cellspacing="2" frame="below" class="ibm-data-table">
              <thead>
                <th scope="col" style="display:none"></th>
              </thead>
              <tr>
                <td class="blue-med-dark" width="550" height="8" align="left" valign="bottom"><br /><b>Education</b>
                </td>
              </tr>
            </table>
            <table cellpadding="2" cellspacing="2" border="0" class="ibm-data-table">
              <thead>
                <th scope="col" style="display:none"></th>
              </thead>
              <tr>
                <td width="120" valign="top">Qualifications</td>
              <tr>Bachelor in Computer science and technology<br />Navy industrial university, China, 2003<br /><br />
                </td>
              </tr>
            </table>
            <table cellpadding="2" cellspacing="2" border="0" class="ibm-data-table">
              <thead>
                <th scope="col" style="display:none"></th>
              </thead>
              <tr>
                <td width="120" valign="top">Language skills</td>
                <td>
                  <table border="0" cellspacing="0" cellpadding="0" class="ibm-data-table">
                    <thead>
                <th scope="col" style="display:none"></th>
                </thead>
              <tr>
                <td width="100">English</td>
                <td>Very Good</td>
              </tr>
              <tr>
                <td width="100">Chinese (Simplified)</td>
                <td>Fluent</td>
              </tr>
            </table>
            </td>
            </tr>
            </table>
            <table border="5" cellpadding="2" cellspacing="2" frame="below" class="ibm-data-table">
              <thead>
                <th scope="col" style="display:none"></th>
              </thead>
              <tr>
                <td class="blue-med-dark" width="550" height="8" align="left" valign="bottom"><br /><b>Professional
                    experience</b></td>
              </tr>
            </table>
            <table cellpadding="2" cellspacing="2" border="0" class="ibm-data-table">
              <thead>
                <th scope="col" style="display:none"></th>
              </thead>
              <tr>
                <td width="120" valign="top">Profile</td>
                <td>I have 14 years of work experience with rich experience in os/390, z/VM, core-banking.<br /><br />I
                  had worked in several projects with good performance, like ATM project of the Bank of East Asia, Loans
                  project of the Bank of China, ATM project of the Kbank (Thailand), and IMEX project of the DBS. During
                  the work in those projects, I conquered many challenges, meanwhile I mastered a lot of technical and
                  business knowledge.<br /><br />From 2012, I joined HONE project, my current role is Architect.My team
                  has very high level Agile maturity and I am leading team on technical skills transferring to Cloud and
                  Devops.<br /><br /><br />&nbsp;</td>
              </tr>
              <tr>
                <td width="120" valign="top">Key skills</td>
                <td>1. 8 years experience on COBOL,CICS,JCL and OS/390 system. Be good at the using of FILE-AID, XPED
                  and DFSORT<br />2. Strong background knowledge of banking business such as Loans and ATM<br />3.
                  Excellent customer oriented communication skills. Written communication with English is also no
                  problem. Cantonese is more added.<br />4. Good knowledge about DB2 application development in OS/390
                  system.<br />5. Team leadership skills.<br />6. Technical skill in REXX, PIPE and z/VM system
                  operation<br />7. Knowing a little about RPG, RPGLE and IMS.<br />8. Advanced Agile knowledge,
                  Iteration Manager<br />9. Basic JAVA, Python, JS and HTML skills<br /><br />&nbsp;</td>
              </tr>
              <tr>
                <td width="120" valign="top">Key courses and training</td>
                <td>Have attended the trainning of CICS application program II and <br />DB2 application development in
                  OS/390 system.<br />Architecture Thinking<br />TLU2 <br />Agile badge -->
                  explorer<br />&nbsp;<br />&nbsp;</td>
              </tr>
            </table>
            <table cellpadding="2" cellspacing="2" border="0" class="ibm-data-table">
              <thead>
                <th scope="col" style="display:none"></th>
              </thead>
              <tr>
                <td width="120" valign="top">Career history</td>
                <td>
                  <table border="0" cellspacing="0" cellpadding="0" class="ibm-data-table">
                    <thead>
                <th scope="col" style="display:none"></th>
                </thead>
              <tr>
                <td width="180"><b>02/2008 - to date</b></td>
                <td><b>Internatinal Business Machine, China, China<br />Architecture</b></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td colspan="2">I had Worked as project manager, iteration manager in HONE project and have excellent
                  performance and gain the customer's trust and compliment, lead team in transferring to agile, and have
                  completed the Knowledge transfer from Dutch team successfully.<br />Now I am talking the role of
                  Architect and lead team in skill transferring to JAVA, JS and Cloud<br />Key projects: Bank of China,
                  DBS, Kbank of Thailand, HONE</td>
              </tr>
              <tr>
                <td width="180"><b>01/2005 - 01/2008</b></td>
                <td><b>Bank of East Asia, China<br />programmer</b></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td colspan="2">Joined the team of ATM for Supporting system, including batch job running.<br />Joined
                  the project of R1 version progress for 2 years. Resolve many problems.<br /></td>
              </tr>
              <tr>
                <td width="180"><b>05/2004 - 10/2004</b></td>
                <td><b>CPTF, China<br />Programmer</b></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td colspan="2">worked for supporting ERP of procurement system using RPG lauguage</td>
              </tr>
              <tr>
                <td width="180"><b>07/2003 - 04/2004</b></td>
                <td><b>HANXI electic company of zhongshan, China<br />Network Maintenance</b></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td colspan="2">resposible for all company's network management. including previous set up by
                  myself.Resolve many problems.</td>
              </tr>
            </table>
            </td>
            </tr>
            </table>
            <table cellpadding="2" cellspacing="2" border="0" class="ibm-data-table">
              <thead>
                <th scope="col" style="display:none"></th>
              </thead>
              <tr>
                <td width="120" valign="top">Assignment history</td>
                <td>
                  <table border="0" cellspacing="0" cellpadding="0" class="ibm-data-table">
                    <thead>
                <th scope="col" style="display:none"></th>
                </thead>
              <tr>
                <td width="180"><b>12/2012 - to date</b></td>
                <td><b> (HONE Application)</b></td>
              </tr>
              <tr>
                <td>76 month(s)</td>
                <td><b></b></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><i>Project Description:</i>Architect of HONE Infra project</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><i>Project Contribution:</i>To be the Architect of HONE infra team. <br />1. Technical skill in z/VM
                  system with Rexx and Pipe<br />2. Skill at design document <br />3. Skill to be an Architect<br />4.
                  Make the knowledge transfer from Dutch team smoothly<br />5. Lead team in transferring to
                  Agile.<br />6. Lead team in knowledge transferring to JAVA, Cloud<br /><br />&nbsp;</td>
              </tr>
              <tr>
                <td width="180"><b>01/2010 - 09/2012</b></td>
                <td><b> (DBS)</b></td>
              </tr>
              <tr>
                <td>33 month(s)</td>
                <td><b></b></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><i>Project Description:</i>Team leader for China and HK IMEX.<br />Production support for HK
                  IMEX.<br />Also focus on new project and enhancement</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><i>Project Contribution:</i>I worked in DBS IMEX project for three years, I worked hard on
                  supporting production problems, especially at night when it needed us to resolve problem ASAP. <br />I
                  got promotion because of my hard work and contribution.<br />&nbsp;</td>
              </tr>
              <tr>
                <td width="180"><b>03/2009 - 01/2010</b></td>
                <td><b>KBank (KASIKORNBANK)</b></td>
              </tr>
              <tr>
                <td>11 month(s)</td>
                <td><b></b></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><i>Project Description:</i>Worked as I/T specialist to do requirement analysis and impact analysis
                  in this project</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><i>Project Contribution:</i>1 Join WAVE4 project of KBank, prepare document such as IS(Interface
                  specifications), SID(System integrate document) and KBMF(KBank message format) according to the new
                  requirement.<br />2 Prepare SIT testing document for online transaction.<br />3 Discuss with customer
                  about the new requirement and confirm whether ATM system need to do corresponding amendment or
                  not.<br />4 Knew more about ATM system structure.<br /><br />&nbsp;</td>
              </tr>
              <tr>
                <td width="180"><b>02/2008 - 12/2008</b></td>
                <td><b> (Bank of China(HK))</b></td>
              </tr>
              <tr>
                <td>11 month(s)</td>
                <td><b>BOC loans project</b></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><i>Project Description:</i>Act as a application developer to finish new requirement coding or fix
                  the bug of production and test for online transaction.</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><i>Project Contribution:</i>1.Online and batch program's development: The mainly work is upgrading
                  system for user's requirment, all the requirement should be discussed with users detailedly.<br />2.
                  UT and SIT testing: To preparing UT and SIT test case based on our amendment, all the case should
                  cover normal and exceptional case, all test work should be finished carfully, In fact, because of this
                  testing we found many bugs.<br />3. prepare program spec based on user's requirement: I begun to do
                  some analyst work after knowing system more and more deeply.<br />4. Improve my professional skills
                  especially in JCL, CICS, DFSORT<br />5.Study Loans system for the whole online & batch
                  structure.<br /> Details:<br /> a. know Recovery & Reversal mechanism for online transaction<br /> b.
                  know LOANS business such as some particular loans product and partial pre-full payment.<br /> c. know
                  24 hours core banking system<br /><br />&nbsp;</td>
              </tr>
            </table>
            </td>
            </tr>
            </table>
            <table cellpadding="2" cellspacing="2" border="0" class="ibm-data-table">
              <thead>
                <th scope="col" style="display:none"></th>
              </thead>
              <tr>
                <td width="120" valign="top">Prior experience</td>
                <td>
                  <table border="0" cellspacing="0" cellpadding="0" class="ibm-data-table">
                    <thead>
                <th scope="col" style="display:none"></th>
                </thead>
              <tr>
                <td width="180"><b>05/2007 - 01/2008</b></td>
                <td><b>Bank of East Asian</b></td>
              </tr>
              <tr>
                <td>9 month(s)</td>
                <td><b>ATM china</b></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><i>Project Description:</i> To cooperate ATM server for BEA of China(new), amend the message module
                  send and receive from CUPY</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><i>Project Contribution:</i>Add new transation logic for BEA china, deperate from BEA Hongkong.
                  mainly for the message send and receive from CUPY, this is the first time to cooperate with other team
                  to finished the amendment and testing. I learnt how to communicate with the others better.<br />&nbsp;
                </td>
              </tr>
              <tr>
                <td width="180"><b>10/2006 - 04/2007</b></td>
                <td><b>Bank of East Asian</b></td>
              </tr>
              <tr>
                <td>7 month(s)</td>
                <td><b>Triple Data Encryption Standard</b></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><i>Project Description:</i> Use new HSM technology to encode and decode transfer message.</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><i>Project Contribution:</i>Amend program for new logic of encode and testing, from this project, I
                  learnt the communication protocol from server to terminal of our bank and other banks.<br />&nbsp;
                </td>
              </tr>
              <tr>
                <td width="180"><b>02/2005 - 09/2006</b></td>
                <td><b>Bank of East Asian</b></td>
              </tr>
              <tr>
                <td>20 month(s)</td>
                <td><b>ATM R1</b></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><i>Project Description:</i> Support ATM system, mainly for batch running and function increasing.
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><i>Project Contribution:</i>in charge of the upgrade for batch and online program, extend the length
                  of a/c number from 15 to 18.also do some unit testing work.Mastered the mainframe basic technology
                  such as COBOL,CICS, JCL, TSO/E, ISPF, VSAM, MAP and so on<br />&nbsp;</td>
              </tr>
            </table>
            </td>
            </tr>
            </table>

            <!--  end content table  ..................................................................................................................................................................... -->
            <br />
          </p>
        </div>
        <!-- FEATURES_BEGIN -->
        <div id="ibm-content-sidebar">
          <div id="ibm-contact-module">
            <!--IBM Contact Module-->
          </div>
          <div id="ibm-merchandising-module">
            <!--IBM Web Merchandising Module-->
          </div>
          <!-- %sidebarspace% -->
        </div>
        <!-- FEATURES_END -->
        <!-- CONTENT_BODY_END -->
      </div>
    </div>
    </body>

</html>